<?xml version="1.0" encoding="UTF-8"?>
<configuration debug="true">
    <include resource="org/springframework/boot/logging/logback/defaults.xml"/>

    <property name="LOGS" value="/Users/mihnea/Documents/workspace/Java/suitcase/test-log" />

    <appender name="RollingFile"
              class="ch.qos.logback.core.rolling.RollingFileAppender">
        <file>${LOGS}/suitcase-test.log</file>
        <encoder class="ch.qos.logback.classic.encoder.PatternLayoutEncoder">
            <Pattern>
                <!-- Date - [Level] [Classname of max length 40 with right padding] [Thread] Message\n -->
                %d - [%p] [%-40C{40}] [%t] %msg%n
            </Pattern>
        </encoder>

        <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
            <!-- rollover daily -->
            <fileNamePattern>${LOGS}/archived/suitcase-test.%d{yyyy-MM-dd}.%i.log
            </fileNamePattern>
            <timeBasedFileNamingAndTriggeringPolicy
                    class="ch.qos.logback.core.rolling.SizeAndTimeBasedFNATP">
                <maxFileSize>10MB</maxFileSize>
            </timeBasedFileNamingAndTriggeringPolicy>
        </rollingPolicy>

    </appender>

    <!-- LOG everything at INFO level for the Log File -->
    <root level="info">
        <appender-ref ref="RollingFile" />
    </root>

    <logger name="com.suitcase" level="debug" additivity="false">
        <appender-ref ref="RollingFile" />
    </logger>

</configuration>